<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
    <div class="container">
        <div class="section">
            <div class="container">
                <div class="columns is-vcentered">
                        <img src="../static/img/uni_logo.png"  style="max-height: 90px;" class="p-2">
                        <img src="../static/img/curve-logo.png"  style="max-height: 70px;" class="p-2">
                        <h1 class="title">
                            UNISWAP v3 vs CURVE.fi Stableswap Slippage comparison
                        </h1>
                </div>            
            </div>
        </div>
    
        <div class="section">
            <div class="content">
                <div class="title">Introduction</div>
                <div class="block">
                    Uniswap and Curve.fi are household names for degens on the Ethereum Mainnet. They are behemoths in the world of DEXes. Both swallowing most of the swapping activity on the Ethereum Mainnet. While Uniswap boasts itself of some of the largest volumes of Liquidity Locked, Curve.fi is a behemoth in stable pair, i.e assets that trade around 1:1 ratio. Uniswap v2's product curve AMM did manage to capture most of the swaps on the mainnet, yet the user-experience with respect to price slippage was bad. This was a huge thorn in Uniswap v2's arsenal, one which kept Curve.fi in the DEX game. Curve used a different AMM (more on that later), to reduce price slippage in stable pairs while also charging lesser liquidity fees than Uniswap v2. 
                    <br>
                    Uniswap v3, was launched with a different approach to Curve.fi, in order to tackle the slippage problem. But did Uniswap v3 succeed in it and dethrone Curve.fi as the stable-swap king ? 
                </div>
                <div class="title">What is uniswap and curve ?</div>
                <div class="block">
                    <p class='is-size-6'>
                        Quoting the <a href="http://docs.uniswap.org/protocol/introduction">Uniswap v3-docs </a> : <br>
                    </p>
    
                    <blockquote>
                        The Uniswap protocol is a peer-to-peer system designed for exchanging cryptocurrencies (ERC-20 Tokens) on the Ethereum blockchain. The protocol is implemented as a set of persistent, non-upgradable smart contracts; designed to prioritize censorship resistance, security, self-custody, and to function without any trusted intermediaries who may selectively restrict access.
    
                        There are currently three versions of the Uniswap protocol. V1 and V2 are open source and licensed under GPL. V3 is open source with slight modifications, which are viewable here. Each version of Uniswap, once deployed, will function in perpetuity, with 100% uptime, provided the continued existence of the Ethereum blockchain.
                    </blockquote>                     
                </div>
                <div class="block">
                    <p class='is-size-6'>
                        Quoting the <a href="https://resources.curve.fi/base-features/understanding-curve">Curve.fi docs </a> : <br>
                        <blockquote>
                            Curve is an exchange. Its main goal is to let users and other decentralised protocols exchange stablecoins (DAI to USDC for example) through it with low fees and low slippage. Unlike exchanges out there that match a buyer and a seller, the behaviour of Curve is different, it uses liquidity pools like Uniswap. To achieve this, Curve needs liquidity (tokens) which is rewarded by those who provide it.
                        </blockquote>
                    </p>
                </div>
                <div class="block">
                    <p class="is-size-6">
                        Uniswap is a DEX where a liquidity provider provides Liquidity in the form of two token in a ratio that is reasonably comparable to the market valuation, so a user could swap the one token for another. Curve.fi does the same work, however it restricts itself to stable-pairs, i.e pairs that trade around 1. 
                        <br>
                        The main difference between these two protocols lie on the pairs they trade, and the methodology behind swapping in their respective pools. So one must understand how the swap-mechanism works in both pools before understanding the slippage.
                    </p>
                </div>
            </div>

        </div>

        <div class="section">
            <div class="title">Understanding the AMMs</div>
            Centralized exchanges use Order-Books to provide liquidity. These are extremely robust, and allow the CEX to keep the gaps filled optimally.This however isn't possible with DeFi. The blockchains on top of which these Market Makers are built have slow response times and have underlying gas fees. These make it hard for the users to make swaps, and also make it hard for Makers to move liquidity consistently. Which means, the robust Order-Book model isn't easy nor efficient to reproduce.
            <br><br>
            <div class="title is-size-4">Constant Product Invariant</div>
            In 2018, Uniswap launched with the revolutionary Automated Market Maker (AMMs) concept. Uniswap uses a product curve for its AMM also called <b>CONSTANT PRODUCT INVARIANT</b>. The concept behind the system is pretty simple. There exists a constant <b class="subtitle">K</b>. The product of number tokens in the pool, should always be equal to this constant <b class="subtitle">K</b>. Say <b class="subtitle">x</b> and <b class="subtitle">y</b> are the number of tokens, The exchange price <b class="subtitle">P</b> of the token is the ratio between the two token volumes. Then
            <div class="columns">
                <div class="column is-3"></div>
                <div class="column">
                    <section class="hero is-small">
                        <div class="hero-body">
                            <p class="title">
                                x y = K <br>
                                P = x / y 
                            </p>
                        </div>
                    </section>
                </div>
                <div class="column is-1"></div>
            </div>
            
            Let us take an <b>DAI</b> - <b>USDC</b> example. Say there is a pool with 100 DAI + 100 USDC .The value <b class="subtitle">K</b> is 
            <div class="columns">
                <div class="column is-3"></div>
                <div class="column">
                    <section class="hero is-small">
                        <div class="hero-body">
                            <p class="title">
                                K = 100 x 100 = 10000 <br>
                                P = 100 / 100 = 1
                            </p>
                        </div>
                    </section>
                </div>
                <div class="column is-1"></div>
            </div>
            
            When a user wants to swap 10 DAI for USDC , he adds 10 DAI first to the pool. Then the protocol calculates the amount of USDC to be released to keep the <b class="subtitle">K</b> constant.
            <div class="columns">
                <div class="column is-3"></div>
                <div class="column">
                    <section class="hero is-small">
                        <div class="hero-body">
                            <p class="title">
                                K = 110 x [USDC] = 10000<br>
                                [USDC] = 10000/110 = 90.90  <br>
                            </p>
                        </div>
                    </section>
                </div>
                <div class="column is-1"></div>
            </div>
            The excess 9.1 USDC is given to the user. <br>
            <br>
            <div class="columns is-vcentered is-justified px-1">
                <div class="column">
                    <img src="../static/img/uniswap_curve.png">
                </div>
                <div class="column p-2 ">
                    The de-merits of this model is clear. The user expects 10 USDC in return, but only gets 9.1 USDC. This 0.9 USDC is the slippage of the swap.This slippage is dependent on the Liquidity in the Pool, and the number of tokens swapped in. <b>Higher</b> the Liquidity, <b>lower</b> the slippage. <b>Higher</b> the number of tokens swapped in, <b>higher</b>  the slippage. <br> Despite the slipping issues, its not a bad model, it has its perks, else it would have been kicked-out long ago. Before discussing its perks, lets see the competing model, the sum curve or the <b>CONSTANT SUM INVARIANT</b>
                </div>
            </div>
            
            
            <br><br>

            <div class="title is-size-4">Constant Sum Invariant</div>
            The easiest way to get rid of impermanent loss it to replace the Constant Product Invariant with the Constant Sum Invariant. Assuming the same <b class="subtitle">x</b> and <b class="subtitle">y</b> are the number of tokens and constant is <b class="subtitle">K</b>, the Constant Sum Invariant is represented as :
            <div class="columns">
                <div class="column is-3"></div>
                <div class="column">
                    <section class="hero is-small">
                        <div class="hero-body">
                            <p class="title">
                                x + y = K <br>
                                P = x / y 
                            </p>
                        </div>
                    </section>
                </div>
                <div class="column is-1"></div>
            </div>
            Let us take the same example <b>DAI</b> - <b>USDC</b>. There is a pool with 100 DAI + 100 USDC .The value <b class="subtitle">K</b> is 
            <div class="columns">
                <div class="column is-3"></div>
                <div class="column">
                    <section class="hero is-small">
                        <div class="hero-body">
                            <p class="title">
                                K = 100 + 100 = 200 <br>
                                P = 100 / 100 = 1
                            </p>
                        </div>
                    </section>
                </div>
                <div class="column is-1"></div>
            </div>
            
            When a user wants to swap 10 DAI for USDC , he adds 10 DAI first to the pool. Then the protocol calculates the amount of USDC to be released to keep the <b class="subtitle">K</b> constant.
            <div class="columns">
                <div class="column is-3"></div>
                <div class="column">
                    <section class="hero is-small">
                        <div class="hero-body">
                            <p class="title">
                                K = 110 + [USDC] = 200<br>
                                [USDC] = 200-110 = 90  <br>
                            </p>
                        </div>
                    </section>
                </div>
                <div class="column is-1"></div>
            </div>
            The excess 10 USDC is sent to user.ZERO SLIPPAGE.  Clearly this is the better model right ?
            <div class="columns py-2">
                <div class="column is-2"></div>
                <div class="column">
                    <img src="../static/img/meme1.jpg">
                </div>
                <div class="column is-2"></div>
            </div>
            <div class="title is-size-4">The Differences</div>

            In <b>real world </b> , <b>1 DAI != 1 USDC</b> . There is always a premium, like 1 DAI = 0.99 $USD, while 1USDC = 1.01 $USD. Which means as the sum remains constant even thought the ratio changes and hence the price, the pool still gives out same number of tokens.
            Let's take another example to demonstrate this. After the first 10 DAI to 10 USDC swap, lets do another 10 DAI to 10 USDC swap. The pool now has 110 DAI and 90 USDC.
            <div class="columns">
                <div class="column is-3"></div>
                <div class="column">
                    <section class="hero is-small">
                        <div class="hero-body">
                            <p class="title">
                                K = 120 + [USDC] = 200<br>
                                [USDC] = 200-90 = 80  <br>
                            </p>
                        </div>
                    </section>
                </div>
                <div class="column is-1"></div>
            </div>
            Once again the pool gives out 10 USDC for 10 DAI, inspite the pool having different ratios. When there is a price discrepancy like 1 DAI = 0.99 $USD, while 1USDC = 1.01 $USD, effectively everyone would drain a pool for profit, simply by swapping in 1DAI for 1USD, as they will make 0.02 USD for every DAI traded in. As a liquidity pool, this is bad news. The liquidity pool could run out of tokens to swap, and also act as an arbitrage bank alone. This is where the Constant Product Invariant shines. 
            <br><br>
            <div class="columns is-vcentered">
                <div class="column">
                    <img src="../static/img/amm_product_price.gif">
                </div>
                <div class="column">
                    The Constant Product AMM is very good at self regulation. One of its key advantages is that as more and more of one token is taken away , it gets more and more expensive to take it away (see slippage is good after all). This is a very effective means of price and ratio calculation. Arbitrageurs consistenly arbitrage rather than mere swap profits, thus keeping the ratio tight and consistent with elsewhere.
                </div>
            </div>
            Let's try draining the DAI-USDC Constant Product Invariant AMM. Say a whale decides to swap out the entire 100 USDC by swapping in 100 DAI.
            <div class="columns">
                <div class="column is-3"></div>
                <div class="column">
                    <section class="hero is-small">
                        <div class="hero-body">
                            <p class="title">
                                K = 200 x [USDC] = 10000<br>
                                [USDC] = 10000/200 = 50  <br>
                            </p>
                        </div>
                    </section>
                </div>
                <div class="column is-1"></div>
            </div>
            The whale, didn't manage to get any more than 50 USDC. If they tries again, this time with 200 DAI
            <div class="columns">
                <div class="column is-3"></div>
                <div class="column">
                    <section class="hero is-small">
                        <div class="hero-body">
                            <p class="title">
                                K = 400 x [USDC] = 10000<br>
                                [USDC] = 10000/400 = 25  <br>
                            </p>
                        </div>
                    </section>
                </div>
                <div class="column is-1"></div>
            </div>
            They only gets 25 DAI out. So the slippage, effectively prevents the draining of the pool by making it financially more expensive.
            <br>
            <div class="title is-size-4">Uniswap and Curve</div>

            Uniswap uses the Constant Product Invariant for its AMMs. Clearly the pros out-weigh the cons. The slippage itself is dependent on the the liquidity available and the volume of the swap. Also, in the name of capital efficiency, Uniswap V3 has introduced Liquidity Concentration. For stable pairs, this means that the liquidity could be concentrated around 1. 

            <br>
            Curve on the other hand, employs a combination of both Constant Product and Constant Sum Invariants. It simply adds the two formulas to get 
            <div class="columns">
                <div class="column is-3"></div>
                <div class="column">
                    <section class="hero is-small">
                        <div class="hero-body">
                            <p class="title">
                                ( x + y ) + x y = K <br>
                                ( x + y ) + x y = D + ( D / 2 )<sup>2</sup>
                            </p>
                        </div>
                    </section>
                </div>
                <div class="column is-1"></div>
            </div>
            Here <b class="subtitle">D</b> is the total number of tokens in the pool. This however is only applicable for stable-pairs as taking <b class="subtitle">x + y </b>inherently sets the ratio as 1:1 or almost equal value.
            What this achieves is that, within the price range close to 1, it acts as a Constant Sum Invariant and as it moves away from those regions, it starts acting as a Constant Product Invariant. Depending on the volatility of the pair listed, an extra term is added, to boost the Constant Sum Invariant part. 
            <div class="columns">
                <div class="column is-3"></div>
                <div class="column">
                    <section class="hero is-small">
                        <div class="hero-body">
                            <p class="title">
                                &xi; ( x + y ) + x y = K <br>
                                &xi; ( x + y ) + x y = &xi;D + ( D / 2 )<sup>2</sup>
                            </p>
                        </div>
                    </section>
                </div>
                <div class="column is-1"></div>
            </div>
            When this boost is 0, the equation converts to a Constant Product Invariant, while as the boost increases, the AMM acts like a Constant Sum Invariant.
            <div class="columns is-vcentered">
                <div class="column is-3">
                    <section class="hero is-small">
                        <div class="hero-body">
                            <p class="title">
                                &xi; = 0 <br>
                                &xi; -> infinity
                            </p>
                        </div>
                </div>
                <div class="column is-4">
                    <section class="hero is-small">
                        <div class="hero-body">
                            <p class="title">
                                x y = K <br>
                                &xi; ( x + y ) = &xi;D
                            </p>
                        </div>
                    </section>
                </div>
                <div class="column">
                    <img src="../static/img/chi.gif" alt="" srcset="">
                </div>
            </div>
                Thereby Curve achieves almost zero slippage Constant Sum Invariant AMM while also keeping the pool-draining resistance of Constant Product Invariant
                So lets see how Curve and Uniswap v3 stack up in real life. Does Uniswap v3's concentrated liquidity actually beats Curve ? 
        </div>

        <div class="section">
            <div class="title">Analysing Curve.fi against Uniswap v3</div>
            div.

        </div>

    </div> 
</body>
</html>